
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');



.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* shared styles */
.display-flex{
    display: flex;
}
/* colors */
.bg-color{
    background-color: rgb(225, 190, 149);
}
.dark1{
    color: #131313;
}
.dark2{
    color: #424242;
}
.dark3{
    color:#727272;
}
.dark4{
    color: #A1A1A1;
}
.dark5{
    color: #D0D0D0;
}
.dark6{
    color: #E7E7E7;
}
.dark7{
    color: #F3F3F3;
}

/* button style */
.btn-primary{
    background-color: #FF900E;
    color: aliceblue;
    padding: 20px 25px;
    font-weight: 600;
    font-size: 1.25rem;
    border: none;
    border-radius: 8px;
    margin: 40px;
}
/* header styles */




/* navbar styles */
.navbar{
    justify-content: space-between;
    align-items: center;
    padding: 40px ;
}

.brand{
    font-weight: 700;
    font-size: 2.8rem;
}
.nav-links{
    
}

.nav-item{
    list-style: none;
    margin-right: 30px;
}
.nav-link{
    text-decoration: none;
    font-weight: 500;
    font-size: 1.1rem;
}


.navbar,.banner{
    max-width: 1140px;
    margin: 0 auto;
}


/* banner style */
.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title{
    font-weight: 700;
    font-size: 4rem;
    padding: 50px;
}
.banner-img{
    width: 100%;
}


/* responsive media query */
@media screen and (max-width:576px) {
    .navbar,.nav-links{
      flex-direction: column;
    }
}